<div class="chatContainer">
    <header>
        <h3 class="username">Socket Chat</h3>
        <p class="typing">escribiendo...</p>
    </header>
    <main>
        <div class="chatmessage"></div>
    </main>
    <footer>
        <input type="text" placeholder="message"/>
        <button>Enviar</button>
    </footer>
</div>